* {
  box-sizing: border-box;
  font-family: "Almarai", sans-serif !important;
}
body {
  margin: 0;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
}

/* start slider */

.custom-dot-list {
  margin-bottom: 20px !important;
}
.custom-dot-list li button {
  width: 35px !important;
  border-radius: 0 !important;
  border: 0 !important;
  height: 4px !important;
  border-radius: 2px !important;
  background-color: #ffffff57 !important;
}
.custom-dot-list li.react-multi-carousel-dot--active button {
  background-color: #fff !important;
}

/* end slider */
