* {
  box-sizing: border-box;
  font-family: "Almarai", sans-serif !important;
}
body {
  margin: 0;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
}

/* start multi select */
.multi-select {
  width: 100%;
}
.multi-select > div {
  border-radius: 8px;
  background: #f1f1f1;
}
/* end multi select */

/* start slider */
.custom-dot-list {
  margin-bottom: 20px !important;
}
.custom-dot-list li button {
  width: 35px !important;
  border-radius: 0 !important;
  border: 0 !important;
  height: 4px !important;
  border-radius: 2px !important;
  background-color: #ffffff57 !important;
}
.custom-dot-list li.react-multi-carousel-dot--active button {
  background-color: #fff !important;
}
/* end slider */

/* start form */
.form-input input {
  border: 1px solid #888;
  border-radius: 8px !important;
  padding: 6.4px !important;
  text-align: center;
  background-color: #fff;
}
.form-input input:focus {
  border-color: #000;
  border-width: 2px;
}
/* .Mui-error {
  align-self: flex-start;
} */
p.Mui-error {
  margin-inline: 0;
}

fieldset {
  border-radius: 8px !important;
  border-color: #888 !important;
}
.Mui-focused fieldset {
  border-color: #000 !important;
}

.submit-btn {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 12px !important;
  padding: 8px !important;
}
.submit-btn:hover {
  color: #888 !important;
}
/* end form */

/* start image gallery */
.image-gallery {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 0;
}
.image-gallery .image-gallery-svg {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}
.image-gallery .image-gallery-svg:hover {
  color: #646464;
}
.image-gallery img {
  height: 350px;
}
/* end image gallery */
